title {
    color: #ffffff;
}
p {
    color: #cc0000;
    margin: auto;
} 
div {
    display:inline;
}

head {
    display: none;
    color: #bbbbb2;
}

title {
    color: #ccccc3;
}

body {
    background-color: #8266cd;
}